@import "../components/collapsable/_style.scss";

body {
  display: flex;
  padding: 40px;
  background: #efeeee;
  color: rgb(59, 59, 59);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}
