ul {
  max-width: 529px;
}

li {
  margin: 30px 0;
  border-radius: 5px;
  box-shadow: -9px -9px 16px rgb(245, 245, 245), 9px 9px 16px rgb(168, 168, 168);
  transition: 0.3s;
}

li:hover {
  box-shadow: -3px -3px 6px white, 3px 3px 6px rgb(168, 168, 168);
}

li:hover .admin {
  background: linear-gradient(to bottom, rgb(255, 105, 51), rgb(168, 70, 34));
  opacity: 1;
}

li:hover .marketing {
  background: linear-gradient(to bottom, rgb(85, 221, 22), rgb(58, 150, 16));
  opacity: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 8px rgba(197, 197, 197, 0.3);
}

.label,
.caret {
  display: inline-block;
  font-size: 1.4rem;
  padding: 20px;
}

.label {
  margin-right: 60px;
}

.caret {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transform: rotate(0deg);
  transition: 0.4s;
}

.caret-rotate {
  transform: rotate(540deg);
}

.content {
  padding: 20px;
  transition: padding-top 0.3s;
}

.admin {
  background: linear-gradient(to bottom, rgb(255, 105, 51), rgb(168, 70, 34));
  opacity: 0.8;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

.marketing {
  background: linear-gradient(to bottom, rgba(85, 221, 22), rgba(58, 150, 16));
  opacity: 0.8;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

.edged-header {
  border-radius: 5px 5px 0 0;
}
