ul {
  max-width: 530px;
}

li {
  margin: 30px 0;
  border-radius: 5px;
  box-shadow: -9px -9px 16px rgb(245, 245, 245), 9px 9px 16px rgb(168, 168, 168);
  transition: 0.3s;
}

li:hover {
  box-shadow: -3px -3px 6px white, 3px 3px 6px rgb(168, 168, 168);
}

li:hover .admin {
  background: rgb(255, 105, 51);
}

li:hover .marketing {
  background: rgb(85, 221, 22);
}

.header-container {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 8px rgba(197, 197, 197, 0.3);
}

.label,
.caret {
  display: inline-block;
  font-size: 1.4rem;
  padding: 20px;
}

.label {
  margin-right: 60px;
}

.caret {
  margin-right: 20px;
}

.content {
  padding: 20px;
}

.admin {
  background: rgba(255, 105, 51, 0.8);
  color: white;
  border-radius: 5px 5px 0 0;
  transition: 0.3s;
}

.marketing {
  background: rgba(85, 221, 22, 0.8);
  color: white;
  border-radius: 5px 5px 0 0;
  transition: 0.3s;
}
